#glossaryView {

	#glossaryViewInner {
		overflow-y: scroll;
		margin: 5px 0 0 0;
		@include md {
			margin: 52px 0 0 0;
		}
		width: calc(100% - 1.2rem);
            height: calc(100vh - 170px);
            padding: 5px 16px;
	}

	.cite-header {
		text-align: center; 
		margin-bottom: 5px;
	}

	.cite-instructions {
		margin: 20px;
		margin-left: 15%;
		margin-right: 15%;
	}

	.navigationComponent {
		position: sticky;
		top: 0;
		@include md {
			position: fixed;
			top: initial;
		}
	}
	
	.glossaryNav {

		background: white;
		padding: 5px;
		position:relative;
	
		#glossary-filter {
			margin-right: 10px;
		}
		.alphaNav {
			display: none;
			@include md {
				display: block;
			}
		}
	}

	.alphaNav {
		color: blue;
		display: inline;
	}

	.title {
		white-space: nowrap;
		position: relative;
		width: calc(100% - 1.7rem);
		text-align: center;
		top: -2em;
		font-size: 1.8rem;
		font-weight: 700;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		@include md {
			top: -1em;
		}
	}


	.subtitle {
		white-space: nowrap;
		position: relative;
		width: calc(100% - 1.7rem);
		text-align: center;
		top: -2em;
		font-style: italic;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		@include md {
			top: -1em;
		}
	}

	#glossaryContent {
		padding: 5rem 0 0;
		min-height: 100vh;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
		min-width: 10rem;
		@include md {
			padding: 3.5rem 0 0;
		}
	}

}


