#globalNavigation {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	font-size: 0.9rem;
	position: relative;
	top: -4rem;
	right: 2rem;
	float: right;
	@include md {
		display: block;
	}
}

#globalNavigation .expandedViewOnly {
	span, a {
		color: white;
		margin-left: 1rem;
		cursor: pointer;
	}
}

#globalNavigation span .francais {
	font-weight: 100;
}

#globalNavigation input {
	height: 1.5rem;
	padding: 0 0 0 0.5rem;
	font-style: italic;
	border: 1px solid #00000063;
	color: #756c6c;
	background-color: #D8D8D8;
}
