.navigationComponent {
      #tool-bar-buttons{
            font-size: 15px;
      }
      position: sticky;
      display: none;
      z-index: 2;
      height:48px;
      width: 100%;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
      user-select: none;
      padding:4px;
      background-color: white;
      border-radius: max(0.3rem, 4.8px);
      @include sm {
            top: 80px;
      }
      @include md {
            top: 0;
            left: 0;
            display: flex;
      }
      button{
            cursor: pointer;
      }
}

.navigationComponentNarrow {
      #tool-bar-buttons{
            font-size: 15px;
      }
      display: flex;
      width: auto;
      z-index: 2;
      height:48px;
      width: 100%;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
      user-select: none;
      padding:4px;
      background-color: white;
      @include md {
            display: none;
      }
      button{
            cursor: pointer;
      }
}

.navigationRow{
      display:none;
      justify-content:space-between;
      align-items:center;
      gap: 10px;
      width: 100%;
      padding:12px 10px 12px 10px;
      @include md {
            display:flex;
      }     
}

.navigationRowNarrow {
      display:flex;
      justify-content:space-between;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding:6px 5px 6px 5px;
      @include md {
            display:none;
      } 
}

.helpIcon {
      display: inline-block;
      margin-top:6px;
      margin-right:16px;
      @include md {
            display: block;
      }
}

.dropdownV2 {
      width:150px;
      margin-right:10px;
}

.imageViewComponent .navigationComponent {
      background-color: #4A4A4A;
      border-radius: max(0.3rem, 4.8px);
      opacity: 0.8;
      @include md {
            background-color: rgba(0,0,0,1);
            color: #ffffff;
            border-radius: 0;
            opacity: 1;
      }

}

.imageViewComponent .navigationComponentNarrow {
      background-color: rgba(0,0,0,1);
      color: #ffffff;
      border-radius: 0;
      opacity: 1;
}

.transcriptionViewComponent .navigationComponent {
	background-color: rgba(255,255,255,1);;
	color: #000000;
}

#doc-type-help:after {
      color: rgb(151, 142, 142);
}
#doc-type-help{
      .dark{
            .MuiSvgIcon-root.MuiSelect-icon{
                  color: white;
            }
      }
}

.breadcrumbs {
      overflow-x:hidden;
      display: hidden;
      align-items: baseline;
      max-width: 70%;
      @include md {
            display: flex;
      }
}

.breadcrumbsNarrow {
      overflow-x:hidden;
      display: flex;
      align-items: baseline;
      max-width: 70%;
      @include md {
            display: none;
      }
}

.breadcrumbs .folioName, .breadcrumbsNarrow .folioName {
  display:inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  text-decoration:underline;
}

.closeX { 
      float: right;
      padding: 3px;
      font-style: bold;
      &:hover {
            cursor: pointer;
      }
}

.helpContainer .MuiListItem-root {
      display: flex;
      gap: 10px;
    }

.helpContainer {
      padding:12px;
      width:335px;
      height: min(600px, calc(100vh - 40px));
      position: relative;
      top: 40px;
      overflow-x: auto;

      .readingGuide {
            
            td {
                  padding: 8px;
            }

            h2 {
                  margin-top: 16px;
                  margin-bottom: 10px;
            }
      }
}


.searchHelpContainer {
      padding: 10px 15px 10px 0;
      width:335px;
}

.helpHeader{
      text-align:center;
}





