.navigationComponent {
      #tool-bar-buttons{
            font-size: 15px;
      }
      position: fixed;
      z-index: 2;
      height:48px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
      user-select: none;
      padding:4px;
      top: 75px;
      background-color: white;
      border-radius: 0.3rem;
      @include sm {
            top: 80px;
      }
      @include md {
            top: initial;
      }
      button{
            cursor: pointer;
      }
}

.navigationRow{
      display:flex;
      justify-content:space-between;
      padding:12px 10px 12px 10px;
      
      
}

.helpIcon {
      display: none;
      margin-top:6px;
      margin-right:16px;
      @include md {
            display: block;
      }
}

.dropdownV2 {
      width:150px;
      margin-right:10px;
}

.imageViewComponent .navigationComponent {
      background-color: #4A4A4A;
      border-radius: 0.3rem;
      opacity: 0.8;
      @include md {
            background-color: rgba(0,0,0,1);
            color: #ffffff;
            border-radius: 0;
            opacity: 1;
      }

}
.transcriptionViewComponent .navigationComponent {
	background-color: rgba(255,255,255,1);;
	color: #000000;
}

#doc-type-help:after {
      color: rgb(151, 142, 142);
}
#doc-type-help{
      .dark{
            .MuiSvgIcon-root.MuiSelect-icon{
                  color: white;
            }
      }
}

.breadcrumbs {
      overflow:hidden;
      display: none;
      @include md {
            display: block;
      }
}

.breadcrumbs .folioName {
  display:inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  text-decoration:underline;
}

.closeX { 
      float: right;
      padding: 3px;
      font-style: bold;
      &:hover {
            cursor: pointer;
      }
}

.helpContainer {
      padding:12px;
      width:335px;
      height:740px;

      .readingGuide {
            
            td {
                  padding: 8px;
            }

            h2 {
                  margin-top: 16px;
                  margin-bottom: 10px;
            }
      }
}


.searchHelpContainer {
      padding: 10px 15px 10px 0;
      width:335px;
}

.helpHeader{
      text-align:center;
}





