.editioncrafter {

	.paginationComponent {
		white-space: nowrap;
		
		text-align: center;
		font-size: max(1.2rem, 19.2px);
		font-weight: 700;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		  user-select: none;
		  margin-top:52px;
		@include md {
			margin-bottom: 0;
		}
	}
	// .paginationComponent:nth-of-type(3){
	//   padding:1rem 0 0 0;
	// }
	
	.paginationComponent.bottom {
		margin-top: 0;
	}
	
	.paginationControl {
		padding: 16px;
		
	}
	
	.paginationControl .arrow {
		font-size: max(1.8rem, 28.8px);
		color: #4A4A4A;
		margin: max(1rem, 16px) max(1rem, 16px) 0;
		cursor: pointer;
		display: inline-block;
	}
	
	.arrow svg {
		font-size: inherit !important;
	}
	
	.paginationControl .folioName {
		position: relative;
		top: min(-.2rem, -3.2px);
		color: #4A4A4A;
	}
}
