$watermark-size: 10rem;

.watermark{
	width:100%;
	height:100%;
	margin: calc(50vh - (#{$watermark-size}/2)) auto 0 auto;
}
.transcriptContent .watermark{
   margin: calc(50vh - (25rem/2)) auto 0 auto;
}

.watermark_contents{
	width:$watermark-size;
	height:$watermark-size;
	background-image: url("../img/lizard-no-bg.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin: auto auto auto auto;
}

.third_pane_blank {
	min-width: 8px;
}
