.xmlViewComponent .navigationComponent {
  background-color: white;
  color: #000000; }

.xmlContent {
  padding: 0;
  margin: 4.5rem 0 0;
  width: calc(100% - 1.2rem);
  max-height: 100vh;
  min-height: 100%;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-width: 10rem;
 }

.xmlViewComponent {
  overflow: auto;
  margin: 0 0 0 1rem;
  max-height: calc(100vh - 7rem);
}

.xmlContentInner {
  max-height: 100%;
}

.xmlContentInner pre {
  overflow-x: auto;
}
