{
  "env": {
    "jest/globals": true
  },
  "extends": ["airbnb","react-app"],
  "globals": {
    "page": true,
    "document": true
  },
  "plugins": ["jest"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "require-jsdoc": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "camelcase": "off",
    "react/prefer-stateless-function": "off",
    "sort-keys": "off",
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "default-param-last": "off",
    "arrow-parens": "off",
    "import/no-anonymous-default-export": "off",
    "max-len": "off"
  }
}
