/* Normalize first */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
/*  Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Martel+Sans:wght@200&family=Martel:wght@400;700&family=Taviraj:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*
	FontAwesome icon font http://fontawesome.io/
	FIXME: This is still used by the imageView control panel, the rest of the app uses FA5 react npm module
*/
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
* {
  box-sizing: border-box; }

div {
  width: auto; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.warning {
  color: yellow; }

.fa {
  width: 1.5rem;
  padding: 0.2rem 0.1rem 0.1rem;
  text-align: center; }

.fa.active {
  background-color: #9e9e9e0a;
  border: 0.2rem solid #FF9800; }

.fa-book.active {
  border-radius: 0 2rem 2rem 0; }

.fa:not(.active) {
  color: grey; }

.fa.fa-lock,
.fa.fa-lock-open {
  border-radius: 2rem 0 0 2rem; }

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; }
  .line-clamp.two-lines {
    -webkit-line-clamp: 2; }

.flex-parent {
  display: flex; }
  .flex-parent.half-width {
    width: 50%; }
  .flex-parent.full-width {
    width: 100%; }
  .flex-parent.column {
    flex-direction: column; }
  .flex-parent.jc-start {
    justify-content: flex-start; }
  .flex-parent.jc-center {
    justify-content: center; }
  .flex-parent.jc-end {
    justify-content: flex-end; }
  .flex-parent.jc-space-btw {
    justify-content: space-between; }
  .flex-parent.jc-space-around {
    justify-content: space-around; }
  .flex-parent.ai-start {
    align-items: flex-start; }
  .flex-parent.ai-center {
    align-items: center; }
  .flex-parent.ai-end {
    align-items: flex-end; }
  .flex-parent.wrap {
    flex-wrap: wrap; }
  .flex-parent.row-reverse {
    flex-direction: row-reverse; }
  .flex-parent.column-reverse {
    flex-direction: column-reverse; }
  .flex-parent .flex-1 {
    flex: 1; }
  .flex-parent .flex-2 {
    flex: 2; }
  .flex-parent .flex-3 {
    flex: 3; }
  .flex-parent .flex-4 {
    flex: 4; }
  .flex-parent .flex-5 {
    flex: 5; }
  .flex-parent .flex-6 {
    flex: 6; }
  .flex-parent .flex-7 {
    flex: 7; }
  .flex-parent .flex-8 {
    flex: 8; }
  .flex-parent .flex-9 {
    flex: 9; }
  .flex-parent .flex-10 {
    flex: 10; }
  .flex-parent .flex-11 {
    flex: 11; }
  .flex-parent .flex-12 {
    flex: 12; }

.bg-maroon-gradient {
  background-image: linear-gradient(to right, #792421, #66211c, #531d17, #411912, #30140d); }

.bg-dark-gradient-bt {
  background-image: linear-gradient(to bottom, #f2e6d9, #e6e0c1, #e4d2a5); }

.bg-dark-gradient-tb {
  background-image: linear-gradient(to bottom, #e4d2a5, #e6e0c1, #f2e6d9); }

.bg-light-gradient-bt {
  background-image: linear-gradient(to bottom, #fefcfb, #f0eddb, #ede2c4); }

.bg-light-gradient-tb {
  background-image: linear-gradient(to bottom, #ede2c4, #f0eddb, #fefcfb); }

.text-bg-gradient-dark-bt {
  background-image: linear-gradient(to bottom, rgba(242, 230, 217, 0.9), rgba(230, 224, 193, 0.9), rgba(228, 210, 165, 0.9)), url("../img/text-bg.png");
  background-size: cover; }

.text-bg-gradient-light-tb {
  background-image: linear-gradient(to bottom, rgba(228, 210, 165, 0.9), rgba(230, 224, 193, 0.9), rgba(242, 230, 217, 0.9)), url("../img/text-bg.png");
  background-size: cover; }

.accent-bar {
  height: 10px;
  width: 100%; }

.invisible {
  opacity: 0; }

.disabled {
  opacity: 0.5; }

.figure-dialog-img-container img {
  display: block;
  width: 100%;
  height: auto; }

a:hover {
  text-decoration: underline; }

a {
  color: #792421;
  text-decoration: none; }

@-webkit-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

@-moz-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

@-ms-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

@-o-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

@keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

#globalNavigation {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 0.9rem;
  position: relative;
  top: -4rem;
  right: 2rem;
  float: right; }
  @media (min-width: 960px) {
    #globalNavigation {
      display: block; } }

#globalNavigation .expandedViewOnly span, #globalNavigation .expandedViewOnly a {
  color: white;
  margin-left: 1rem;
  cursor: pointer; }

#globalNavigation span .francais {
  font-weight: 100; }

#globalNavigation input {
  height: 1.5rem;
  padding: 0 0 0 0.5rem;
  font-style: italic;
  border: 1px solid #00000063;
  color: #756c6c;
  background-color: #D8D8D8; }

#loadingStateModal {
  position: fixed;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100vw;
  height: 100vh; }

.spinner {
  width: 100%;
  height: 100%;
  margin: calc(50vh - (1rem/2)) auto 0 auto;
  text-align: center; }

.spinner > div {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

figure {
  padding: 0.3rem 0 0;
  border-radius: 0.2rem;
  margin: 0;
  text-align: center; }

figure.current {
  background-color: rgba(7, 122, 255, 0.831); }

.thumbnail-caption.current {
  color: rgba(7, 122, 255, 0.831) !important;
  font-weight: 900; }

.watermark {
  width: 100%;
  height: 100%;
  margin: calc(50vh - (10rem/2)) auto 0 auto; }

.transcriptContent .watermark {
  margin: calc(50vh - (25rem/2)) auto 0 auto; }

.watermark_contents {
  width: 10rem;
  height: 10rem;
  background-image: url("../img/lizard-no-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto auto auto auto; }

.navigationComponent {
  position: fixed;
  z-index: 2;
  height: 48px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px;
  top: 75px;
  background-color: white;
  border-radius: 0.3rem; }
  .navigationComponent #tool-bar-buttons {
    font-size: 15px; }
  @media (min-width: 600px) {
    .navigationComponent {
      top: 80px; } }
  @media (min-width: 960px) {
    .navigationComponent {
      top: initial; } }
  .navigationComponent button {
    cursor: pointer; }

.navigationRow {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px 12px 10px; }

.helpIcon {
  display: none;
  margin-top: 6px;
  margin-right: 16px; }
  @media (min-width: 960px) {
    .helpIcon {
      display: block; } }

.dropdownV2 {
  width: 150px;
  margin-right: 10px; }

.imageViewComponent .navigationComponent {
  background-color: #4A4A4A;
  border-radius: 0.3rem;
  opacity: 0.8; }
  @media (min-width: 960px) {
    .imageViewComponent .navigationComponent {
      background-color: black;
      color: #ffffff;
      border-radius: 0;
      opacity: 1; } }

.transcriptionViewComponent .navigationComponent {
  background-color: white;
  color: #000000; }

#doc-type-help:after {
  color: #978e8e; }

#doc-type-help .dark .MuiSvgIcon-root.MuiSelect-icon {
  color: white; }

.breadcrumbs {
  overflow: hidden;
  display: none; }
  @media (min-width: 960px) {
    .breadcrumbs {
      display: block; } }

.breadcrumbs .folioName {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  text-decoration: underline; }

.closeX {
  float: right;
  padding: 3px;
  font-style: bold; }
  .closeX:hover {
    cursor: pointer; }

.helpContainer {
  padding: 12px;
  width: 335px;
  height: 740px; }
  .helpContainer .readingGuide td {
    padding: 8px; }
  .helpContainer .readingGuide h2 {
    margin-top: 16px;
    margin-bottom: 10px; }

.searchHelpContainer {
  padding: 10px 15px 10px 0;
  width: 335px; }

.helpHeader {
  text-align: center; }

.paginationComponent {
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 52px; }
  @media (min-width: 960px) {
    .paginationComponent {
      margin-bottom: 0; } }

.paginationControl {
  padding: 16px; }

.paginationControl .arrow {
  font-size: 1.8rem;
  color: #4A4A4A;
  margin: 1rem 1rem 0;
  cursor: pointer; }

.paginationControl .folioName {
  position: relative;
  top: -.2rem;
  color: #4A4A4A; }

#diplomatic #content-view h1,
#diplomatic #content-view h2,
#diplomatic #content-view h3,
#diplomatic #content-view h4, #diplomatic .header-wrapper h1,
#diplomatic .header-wrapper h2,
#diplomatic .header-wrapper h3,
#diplomatic .header-wrapper h4, #diplomatic #entry-list-view h1,
#diplomatic #entry-list-view h2,
#diplomatic #entry-list-view h3,
#diplomatic #entry-list-view h4, #diplomatic #annotation-list-view h1,
#diplomatic #annotation-list-view h2,
#diplomatic #annotation-list-view h3,
#diplomatic #annotation-list-view h4 {
  font-family: 'Lato', sans-serif;
  color: black;
  padding: 0;
  margin: 0; }

#diplomatic #content-view h1, #diplomatic .header-wrapper h1, #diplomatic #entry-list-view h1, #diplomatic #annotation-list-view h1 {
  font-family: 'Taviraj', serif;
  font-size: 32px; }

#diplomatic #content-view h2, #diplomatic #content-view h3, #diplomatic .header-wrapper h2, #diplomatic .header-wrapper h3, #diplomatic #entry-list-view h2, #diplomatic #entry-list-view h3, #diplomatic #annotation-list-view h2, #diplomatic #annotation-list-view h3 {
  font-weight: 700; }

#diplomatic #content-view h2, #diplomatic .header-wrapper h2, #diplomatic #entry-list-view h2, #diplomatic #annotation-list-view h2 {
  font-size: 22px; }

#diplomatic #content-view h3, #diplomatic .header-wrapper h3, #diplomatic #entry-list-view h3, #diplomatic #annotation-list-view h3 {
  font-size: 18px; }

#diplomatic #content-view h4, #diplomatic .header-wrapper h4, #diplomatic #entry-list-view h4, #diplomatic #annotation-list-view h4 {
  font-size: 18px;
  font-weight: 700; }

#diplomatic #content-view p, #diplomatic .header-wrapper p, #diplomatic #entry-list-view p, #diplomatic #annotation-list-view p {
  font-family: "Martel", serif;
  line-height: 1.25; }

#diplomatic #content-view span, #diplomatic .header-wrapper span, #diplomatic #entry-list-view span, #diplomatic #annotation-list-view span {
  font-family: "Martel", serif;
  line-height: 1.25;
  margin: 0; }

#diplomatic #content-view a.MuiButton-containedPrimary.cta-button, #diplomatic .header-wrapper a.MuiButton-containedPrimary.cta-button, #diplomatic #entry-list-view a.MuiButton-containedPrimary.cta-button, #diplomatic #annotation-list-view a.MuiButton-containedPrimary.cta-button {
  color: white;
  padding: 10px 70px;
  border-radius: 0; }
  #diplomatic #content-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic .header-wrapper a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic #entry-list-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic #annotation-list-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span {
    font-family: 'Lato', sans-serif;
    font-size: 20px; }

#diplomatic #content-view a, #diplomatic .header-wrapper a, #diplomatic #entry-list-view a, #diplomatic #annotation-list-view a {
  color: #792421; }
  #diplomatic #content-view a:hover, #diplomatic .header-wrapper a:hover, #diplomatic #entry-list-view a:hover, #diplomatic #annotation-list-view a:hover {
    color: #CBA374; }

#diplomatic #content-view .cta-link.MuiLink-underlineHover:hover, #diplomatic .header-wrapper .cta-link.MuiLink-underlineHover:hover, #diplomatic #entry-list-view .cta-link.MuiLink-underlineHover:hover, #diplomatic #annotation-list-view .cta-link.MuiLink-underlineHover:hover {
  text-decoration: none; }

#diplomatic #content-view a.cta-link, #diplomatic .header-wrapper a.cta-link, #diplomatic #entry-list-view a.cta-link, #diplomatic #annotation-list-view a.cta-link {
  color: black;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px; }
  @media (min-width: 960px) {
    #diplomatic #content-view a.cta-link, #diplomatic .header-wrapper a.cta-link, #diplomatic #entry-list-view a.cta-link, #diplomatic #annotation-list-view a.cta-link {
      font-size: 18px; } }
  #diplomatic #content-view a.cta-link.with-icon:after, #diplomatic .header-wrapper a.cta-link.with-icon:after, #diplomatic #entry-list-view a.cta-link.with-icon:after, #diplomatic #annotation-list-view a.cta-link.with-icon:after {
    font-family: "Font Awesome 5 Free";
    margin-left: 7px;
    font-weight: 600;
    content: "\f054";
    font-size: 15px; }
  #diplomatic #content-view a.cta-link:before, #diplomatic .header-wrapper a.cta-link:before, #diplomatic #entry-list-view a.cta-link:before, #diplomatic #annotation-list-view a.cta-link:before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: black;
    width: 50%;
    right: 30%;
    bottom: -5px;
    border-radius: 2px; }
  #diplomatic #content-view a.cta-link:hover:before, #diplomatic .header-wrapper a.cta-link:hover:before, #diplomatic #entry-list-view a.cta-link:hover:before, #diplomatic #annotation-list-view a.cta-link:hover:before {
    background-color: #792421;
    text-decoration: none;
    height: 6px;
    bottom: -9px;
    -webkit-animation: slide-down .2s;
    -moz-animation: slide-down .2s;
    -ms-animation: slide-down .2s;
    -o-animation: slide-down .2s;
    animation: slide-down .2s; }
  #diplomatic #content-view a.cta-link:hover:after, #diplomatic .header-wrapper a.cta-link:hover:after, #diplomatic #entry-list-view a.cta-link:hover:after, #diplomatic #annotation-list-view a.cta-link:hover:after {
    color: #792421; }

#diplomatic #content-view a.cta-link.active:before, #diplomatic .header-wrapper a.cta-link.active:before, #diplomatic #entry-list-view a.cta-link.active:before, #diplomatic #annotation-list-view a.cta-link.active:before {
  background-color: #792421;
  text-decoration: none;
  height: 6px;
  bottom: -9px;
  -webkit-animation: slide-down .2s;
  -moz-animation: slide-down .2s;
  -ms-animation: slide-down .2s;
  -o-animation: slide-down .2s;
  animation: slide-down .2s; }

#diplomatic #content-view a.cta-link.active:after, #diplomatic .header-wrapper a.cta-link.active:after, #diplomatic #entry-list-view a.cta-link.active:after, #diplomatic #annotation-list-view a.cta-link.active:after {
  color: #792421; }

#diplomatic #content-view a.cta-link.light, #diplomatic .header-wrapper a.cta-link.light, #diplomatic #entry-list-view a.cta-link.light, #diplomatic #annotation-list-view a.cta-link.light {
  color: #444444; }
  #diplomatic #content-view a.cta-link.light:before, #diplomatic .header-wrapper a.cta-link.light:before, #diplomatic #entry-list-view a.cta-link.light:before, #diplomatic #annotation-list-view a.cta-link.light:before {
    background-color: #444444; }
  #diplomatic #content-view a.cta-link.light:hover:before, #diplomatic .header-wrapper a.cta-link.light:hover:before, #diplomatic #entry-list-view a.cta-link.light:hover:before, #diplomatic #annotation-list-view a.cta-link.light:hover:before {
    background-color: #792421; }

#diplomatic #content-view a.cta-link.video-link:after, #diplomatic .header-wrapper a.cta-link.video-link:after, #diplomatic #entry-list-view a.cta-link.video-link:after, #diplomatic #annotation-list-view a.cta-link.video-link:after {
  content: "\f04b";
  font-size: 12px;
  margin-bottom: -2px; }

#diplomatic #content-view a.cta-link.search-link:after, #diplomatic .header-wrapper a.cta-link.search-link:after, #diplomatic #entry-list-view a.cta-link.search-link:after, #diplomatic #annotation-list-view a.cta-link.search-link:after {
  font-family: 'Material Icons';
  content: "search";
  font-size: 16px; }

#diplomatic #header {
  width: 100%;
  padding: 0px 20px;
  background-color: white;
  border-radius: 0; }
  @media (min-width: 1280px) {
    #diplomatic #header {
      padding: 5px 50px; } }
  #diplomatic #header img {
    width: 210px; }
    @media (min-width: 600px) {
      #diplomatic #header img {
        width: 300px; } }
    @media (min-width: 960px) {
      #diplomatic #header img {
        width: 300px; } }
  #diplomatic #header .expandedViewOnly {
    width: 100%; }
  #diplomatic #header .nav-item {
    font-size: 16px;
    margin-right: 5px;
    white-space: nowrap;
    margin-bottom: 15px; }
  #diplomatic #header .search-btn {
    margin-bottom: 10px;
    font-size: 18px; }

#diplomatic .maroon-dropdown {
  background-color: #460C0A;
  border-radius: 0;
  -webkit-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8); }

#diplomatic .mobile-menu {
  padding: 50px 0; }
  #diplomatic .mobile-menu .list-container {
    position: relative; }
    #diplomatic .mobile-menu .list-container .list {
      color: 'white'; }

#diplomatic .search-bar {
  height: 162px; }
  #diplomatic .search-bar .label {
    font-size: 32px;
    color: white;
    font-weight: 400;
    white-space: nowrap; }
  #diplomatic .search-bar .content {
    width: 50%; }
  #diplomatic .search-bar #search input {
    border: 1px solid #DEDEDF;
    border-radius: 4px;
    width: 300px;
    height: 38px;
    font-size: 14px;
    padding: 5px 15px;
    font-family: 'Lato', sans-serif; }

#diplomatic.sticky .header-wrapper.sticky {
  position: sticky;
  top: 0;
  z-index: 2; }

#diplomatic #footer {
  color: white;
  background-color: #460C0A;
  display: flex;
  flex-direction: column;
  padding: 10px 20px; }
  @media (min-width: 600px) {
    #diplomatic #footer {
      padding: 20px 30px; } }
  @media (min-width: 960px) {
    #diplomatic #footer {
      padding: 30px 40px; } }
  #diplomatic #footer p, #diplomatic #footer a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #FAFAFA;
    line-height: 1.5;
    margin: 0; }
  #diplomatic #footer a:hover {
    color: #CBA374;
    fill: #CBA374; }
  #diplomatic #footer .top {
    margin-bottom: 10px; }
    #diplomatic #footer .top p {
      margin: 0 5px;
      white-space: nowrap; }
  #diplomatic #footer .doi {
    text-align: center; }
  #diplomatic #footer .copyright .symbols {
    text-decoration: none; }
  #diplomatic #footer .copyright svg {
    width: 14px;
    height: 14px; }
  #diplomatic #footer .logos {
    margin-bottom: 10px; }
    #diplomatic #footer .logos img {
      width: 150px; }
      @media (min-width: 600px) {
        #diplomatic #footer .logos img {
          width: 200px; } }
      @media (min-width: 600px) {
        #diplomatic #footer .logos img {
          width: 250px; } }
  #diplomatic #footer .footer-links {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 2; }

#diplomatic.fixed {
  background: white;
  position: fixed;
  width: 100vw;
  height: calc(100vh - $chrome-height);
  font-size: 0.7rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'OpenSans', sans-serif;
  font-size: 0.9rem; }
  @media (min-width: 600px) {
    #diplomatic.fixed {
      height: calc(100vh - $sm-chrome-height); } }
  @media (min-width: 960px) {
    #diplomatic.fixed {
      height: calc(100vh - $md-chrome-height); } }
  #diplomatic.fixed #content {
    line-height: 1.2rem; }
  #diplomatic.fixed h1,
  #diplomatic.fixed h2,
  #diplomatic.fixed h3,
  #diplomatic.fixed h4 {
    color: #000000b8;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    padding: 0;
    line-height: 1.5rem; }

.imageGridComponent {
  background-color: #000000;
  font-size: 0.8rem;
  overflow: scroll;
  height: 100vh; }

.imageGridComponent > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 1.5rem 0 8rem 2rem; }

.imageGridComponent > ul > li {
  margin-bottom: 20px;
  width: 150px;
  height: 220px; }

.imageGridComponent > ul > li > figure {
  margin: 8px; }

.imageGridComponent > ul > li > figure:hover {
  border: 2px #eee solid;
  margin: 6px; }

.imageGridComponent > ul > li > .thumbnail-caption {
  text-align: center;
  color: white; }

.hidden {
  display: none; }

.imageGridComponent .imageGridToolbar {
  padding: 5px;
  color: white; }
  .imageGridComponent .imageGridToolbar .jump-to {
    float: right;
    display: 'inline';
    margin-right: 30px; }
    .imageGridComponent .imageGridToolbar .jump-to #jump-to-input {
      margin-left: 5px; }
    .imageGridComponent .imageGridToolbar .jump-to #jump-to-button {
      margin-left: 5px;
      cursor: pointer; }

.split-pane-view {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "image_viewer divider transcription"; }

.split-pane-view > .divider {
  z-index: 2;
  grid-area: divider;
  width: 1rem;
  background: #BBB;
  cursor: ew-resize;
  display: flex; }

.split-pane-view > .divider > .drawer-button {
  align-self: center;
  align: center;
  cursor: auto; }

.split-pane-view > .divider > .drawer-button:hover {
  color: white; }

.split-pane-view > .divider > .hidden {
  display: none; }

.split-pane-view #annotation-view {
  font-size: 16px; }

#image-view-seadragon-left,
#image-view-seadragon-right {
  width: 100%;
  height: 100%;
  grid-area: image_viewer;
  background: black; }

.imageViewComponent {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh; }

.ImageZoomControl {
  position: absolute;
  z-index: 1;
  top: 8rem;
  color: white;
  list-style: none;
  background: #4A4A4A;
  opacity: 0.4;
  margin: 0;
  padding: .4rem .5rem;
  border-radius: 0.3rem; }
  @media (min-width: 960px) {
    .ImageZoomControl {
      top: 4rem;
      left: 2rem; } }

.ImageZoomControl > li {
  color: #E0E0E0; }

.ImageZoomControl > li > .zoom-in {
  margin-top: 8px; }

.ImageZoomControl > li:hover {
  color: white; }

.ImageZoomControl > li > .zoom-3 {
  margin-top: 8px; }

.ImageZoomControl > li > .zoom-2 {
  margin-top: 8px;
  margin-left: 5px; }

.ImageZoomControl > li > .zoom-1 {
  margin-top: 8px;
  margin-left: 7px; }

.ImageZoomControl > li > .zoom-out {
  margin-top: 8px; }

.ImageZoomControl > li > .zoom-grid {
  margin-top: 30px; }

.transcriptionViewComponent {
  overflow: scroll;
  height: calc(100vh - 7rem); }
  .transcriptionViewComponent .transcriptContent {
    padding: 50px 16px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin-bottom: 92px; }
    @media (min-width: 960px) {
      .transcriptionViewComponent .transcriptContent {
        padding: 5px 16px; } }
    .transcriptionViewComponent .transcriptContent figure {
      display: inline; }
    .transcriptionViewComponent .transcriptContent .block {
      margin-bottom: 1.5rem; }
    .transcriptionViewComponent .transcriptContent .block[data-layout='right-middle'] {
      max-width: 250px; }
    .transcriptionViewComponent .transcriptContent .block[data-layout='right-top'] {
      max-width: 250px; }
    .transcriptionViewComponent .transcriptContent .block[data-layout='right-bottom'] {
      max-width: 250px; }
    .transcriptionViewComponent .transcriptContent .add {
      color: blue;
      vertical-align: super;
      font-size: 10pt; }
    .transcriptionViewComponent .transcriptContent .del {
      color: red; }
    .transcriptionViewComponent .transcriptContent .ups {
      background: lightgray;
      font-size: 14px; }
    .transcriptionViewComponent .transcriptContent .x-small-inline-figure {
      margin: 5px;
      border: 1px solid gray;
      width: 30px; }
    .transcriptionViewComponent .transcriptContent .small-inline-figure {
      margin: 5px;
      border: 1px solid gray;
      width: 60px; }
    .transcriptionViewComponent .transcriptContent .medium-inline-figure {
      margin: 5px;
      border: 1px solid gray;
      width: 200px; }
    .transcriptionViewComponent .transcriptContent .large-inline-figure {
      margin: 5px;
      border: 1px solid gray;
      width: 350px; }
    .transcriptionViewComponent .transcriptContent .surface {
      grid-area: transcription;
      margin: 0;
      padding: 0;
      list-style: none; }
    .transcriptionViewComponent .transcriptContent .grid-mode {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(min-content, 0fr);
      grid-gap: 2px; }
    .transcriptionViewComponent .transcriptContent .surface > .small-font {
      font-size: 11pt; }
    .transcriptionViewComponent .transcriptContent .surface > div {
      padding: 10px; }
    .transcriptionViewComponent .transcriptContent .surface > #z0 {
      grid-area: z0; }
    .transcriptionViewComponent .transcriptContent .surface > #z1 {
      grid-area: z1; }
    .transcriptionViewComponent .transcriptContent .surface > #z2 {
      grid-area: z2; }
    .transcriptionViewComponent .transcriptContent .surface > #z3 {
      grid-area: z3; }
    .transcriptionViewComponent .transcriptContent .surface > #z4 {
      grid-area: z4; }
    .transcriptionViewComponent .transcriptContent .surface > #z5 {
      grid-area: z5; }
    .transcriptionViewComponent .transcriptContent .surface > #z6 {
      grid-area: z6; }
    .transcriptionViewComponent .transcriptContent .surface > #z7 {
      grid-area: z7; }
    .transcriptionViewComponent .transcriptContent .surface > #z8 {
      grid-area: z8; }
    .transcriptionViewComponent .transcriptContent .surface > #z9 {
      grid-area: z9; }
    .transcriptionViewComponent .transcriptContent .surface > #z10 {
      grid-area: z10; }
    .transcriptionViewComponent .transcriptContent .surface > #z11 {
      grid-area: z11; }
    .transcriptionViewComponent .transcriptContent .surface > #z12 {
      grid-area: z12; }
    .transcriptionViewComponent .transcriptContent .surface > #z13 {
      grid-area: z13; }
    .transcriptionViewComponent .transcriptContent .surface > #z14 {
      grid-area: z14; }
    .transcriptionViewComponent .transcriptContent .surface > #z15 {
      grid-area: z15; }
    .transcriptionViewComponent .transcriptContent .surface > #z16 {
      grid-area: z16; }
    .transcriptionViewComponent .transcriptContent .surface > #z17 {
      grid-area: z17; }
    .transcriptionViewComponent .transcriptContent .surface > #z18 {
      grid-area: z18; }
    .transcriptionViewComponent .transcriptContent .surface > #z19 {
      grid-area: z19; }
    .transcriptionViewComponent .transcriptContent .surface > #z20 {
      grid-area: z20; }
    .transcriptionViewComponent .transcriptContent .highlight {
      background-color: yellow; }

.editor-comment-content {
  word-wrap: break-word; }

.xmlViewComponent .navigationComponent {
  background-color: white;
  color: #000000; }

.xmlContent {
  padding: 0;
  margin: 4.5rem 0 0;
  width: calc(100% - 1.2rem);
  min-height: 100vh;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-width: 10rem; }

.xmlViewComponent {
  overflow: scroll;
  margin: 0 0 0 1rem;
  height: calc(100vh - 7rem); }

.xmlContentInner {
  overflow-x: scroll; }

#glossaryView #glossaryViewInner {
  overflow-y: scroll;
  margin: 5px 0 0 0;
  width: calc(100% - 1.2rem);
  height: calc(100vh - 170px);
  padding: 5px 16px; }
  @media (min-width: 960px) {
    #glossaryView #glossaryViewInner {
      margin: 52px 0 0 0; } }

#glossaryView .cite-header {
  text-align: center;
  margin-bottom: 5px; }

#glossaryView .cite-instructions {
  margin: 20px;
  margin-left: 15%;
  margin-right: 15%; }

#glossaryView .navigationComponent {
  position: sticky;
  top: 0; }
  @media (min-width: 960px) {
    #glossaryView .navigationComponent {
      position: fixed;
      top: initial; } }

#glossaryView .glossaryNav {
  background: white;
  padding: 5px;
  position: relative; }
  #glossaryView .glossaryNav #glossary-filter {
    margin-right: 10px; }
  #glossaryView .glossaryNav .alphaNav {
    display: none; }
    @media (min-width: 960px) {
      #glossaryView .glossaryNav .alphaNav {
        display: block; } }

#glossaryView .alphaNav {
  color: blue;
  display: inline; }

#glossaryView .title {
  white-space: nowrap;
  position: relative;
  width: calc(100% - 1.7rem);
  text-align: center;
  top: -2em;
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (min-width: 960px) {
    #glossaryView .title {
      top: -1em; } }

#glossaryView .subtitle {
  white-space: nowrap;
  position: relative;
  width: calc(100% - 1.7rem);
  text-align: center;
  top: -2em;
  font-style: italic;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (min-width: 960px) {
    #glossaryView .subtitle {
      top: -1em; } }

#glossaryView #glossaryContent {
  padding: 5rem 0 0;
  min-height: 100vh;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-width: 10rem; }
  @media (min-width: 960px) {
    #glossaryView #glossaryContent {
      padding: 3.5rem 0 0; } }

.jumpToFolio_component {
  margin: 1rem 0 0 -4.5rem;
  padding: 0.6rem;
  height: 1.2rem;
  width: 9.5rem;
  background: #e7e7e7;
  border: 1px solid rgba(90, 98, 102, 0.53);
  border-radius: 0.3rem;
  -webkit-box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  -moz-box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  font-family: sans-serif; }

.jumpToFolio_component input:focus {
  outline: none; }

.jumpToFolio_component:after,
.jumpToFolio_component:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.jumpToFolio_component:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #e7e7e7;
  border-width: 9px;
  margin-left: -9px; }

.jumpToFolio_component:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(90, 98, 102, 0.53);
  border-width: 11px;
  margin-left: -11px; }
