---
import Container from "../components/Container.astro";
import Layout from "./Layout.astro";


const { frontmatter } = Astro.props;

---

<Layout title="Getting Started" tab="getting-started">
    <!-- sidebar goes here -->
    <div class="bg-neutral w-full">
        <Container>
            <h1 class="font-serif text-5xl py-16">
                Getting Started
            </h1>
        </Container>
    </div>
    <div class="bg-white w-full">
        <Container className="flex flex-row py-4 xl:py-12">
            <div class="hidden md:flex flex-col pr-4 xl:pr-12 border-r border-r-neutral-gray/50 w-1/4">
                <div class="flex flex-col gap-4 p-4 rounded-sm hover:bg-neutral">
                    <a href="#" class="font-semibold text-lg">
                        Introduction
                    </a>
                    <div class="flex flex-col pl-2 xl:pl-4">                   
                        <a href="#item-1" class="w-full p-3 hover:bg-neutral-gray/20">
                            Item 1
                        </a>
                        <div class="flex flex-col pl-2 xl:pl-4">
                            <a href="#subitem-1" class="w-full p-3 hover:bg-neutral-gray/20">
                                Subitem 1
                            </a>
                        </div>
                        <a href="#item-2" class="w-full p-3 hover:bg-neutral-gray/20">
                            Item 2
                        </a>
                    </div>
                </div>
                <div class="flex flex-col gap-4 p-4 rounded-sm hover:bg-neutral">
                    <a href="#how-to-install" class="font-semibold text-lg">
                        How to Install
                    </a>
                    <div class="flex flex-col pl-2 xl:pl-4">                   
                        <a href="#item-1-1" class="w-full p-3 hover:bg-neutral-gray/20">
                            Item 1
                        </a>
                        <a href="#item-2" class="w-full p-3 hover:bg-neutral-gray/20">
                            Item 2
                        </a>
                    </div>
                </div>
            </div>
            <div class="px-12 w-3/4 prose h-full max-w-none">
                <slot />
            </div>
        </Container>
    </div>
</Layout>