@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.editioncrafter-entry-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
