.editioncrafter-entry-list .ec-sidebar {
  background-color: #F3F4F7;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
  flex-grow: 0;
}

.editioncrafter-entry-list .collapsible-menu .collapsible-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  appearance: none;
  background: none;
  border: none;
  width: 100%;
}

.editioncrafter-entry-list .collapsible-menu .collapsible-menu-title {
  font-size: 16px;
  font-weight: 700;
}

.editioncrafter-entry-list .sidebar-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.editioncrafter-entry-list .sidebar-tag-list button {
  appearance: none;
  display: flex;
  height: 32px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  border: 1px solid var(--Light-Blue, #CEDAE7);
  background: var(--Light-Blue, #CEDAE7);
  color: var(--Black, #0A0A0A);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}

.editioncrafter-entry-list .sidebar-tag-list .active {
  background: #07529A;
  color: #ffffff;
}

.editioncrafter-entry-list .sidebar-tag-list .hidden {
  visibility: hidden;
}
