@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.editioncrafter-record-list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.editioncrafter-record-list h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

.editioncrafter-record-list h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.editioncrafter-record-list h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.editioncrafter-record-list div.h-separator {
  border-top: 1px solid #E1E3E6;
  width: 100%;
}

.editioncrafter-record-list * {
  box-sizing: border-box;
}

.editioncrafter-record-list a {
  color: #07529A;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.editioncrafter-record-list button:hover {
  cursor: pointer;
}

.editioncrafter-record-list .loading {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
}

