.editioncrafter-record-list .record-list-view {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.editioncrafter-record-list .record-list-view .entries-header {
  padding: 10px 0;
}

.editioncrafter-record-list .record-list-view .record-box {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #E1E3E6;
  display: flex;
  flex-flow: column;
  gap: 6px;
  padding: 16px;
  transition: 0.3s;
}

.editioncrafter-record-list .record-list-view .record-box:hover {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
}

.editioncrafter-record-list .record-list-view .record-box .category-list {
  display: flex;
  gap: 6px;
}

.editioncrafter-record-list .record-list-view .record-box .tag-list .pill {
  background: #ffffff;
  display: flex;
  height: 32px;
  padding: 4px 12px 4px 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  border: 1px solid #E1E3E6;
}

.editioncrafter-record-list .record-list-view .record-box .category-list .pill.active {
  background: #07529A;
  color: #ffffff
}

.editioncrafter-record-list .record-list-view .record-box .tag-list .pill .tag-count {
  display: inline-flex;
  height: 24px;
  min-width: 24px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #B5C8DC99;
}

.editioncrafter-record-list .record-list-view .record-box .tag-list .pill.active {
  border: 1px solid #07529A;
  color: #07529A;
}

.editioncrafter-record-list .record-list-view .record-box .tag-list .pill.active .tag-count {
  background: #07529A;
  color: #ffffff;
}
