@charset "UTF-8";
/* Normalize first */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
/*  Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Martel+Sans:wght@200&family=Martel:wght@400;700&family=Taviraj:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*
	FontAwesome icon font http://fontawesome.io/
	FIXME: This is still used by the imageView control panel, the rest of the app uses FA5 react npm module
*/
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
* {
  box-sizing: border-box;
}

div {
  width: auto;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.warning {
  color: yellow;
}

.fa {
  width: 1.5rem;
  padding: 0.2rem 0.1rem 0.1rem;
  text-align: center;
}

.fa.active {
  background-color: rgba(158, 158, 158, 0.0392156863);
  border: 0.2rem solid #FF9800;
}

.fa-book.active {
  border-radius: 0 2rem 2rem 0;
}

.fa:not(.active) {
  color: grey;
}

.fa.fa-lock,
.fa.fa-lock-open {
  border-radius: 2rem 0 0 2rem;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.line-clamp.two-lines {
  -webkit-line-clamp: 2;
}

.flex-parent {
  display: flex;
}
.flex-parent.half-width {
  width: 50%;
}
.flex-parent.full-width {
  width: 100%;
}
.flex-parent.column {
  flex-direction: column;
}
.flex-parent.jc-start {
  justify-content: flex-start;
}
.flex-parent.jc-center {
  justify-content: center;
}
.flex-parent.jc-end {
  justify-content: flex-end;
}
.flex-parent.jc-space-btw {
  justify-content: space-between;
}
.flex-parent.jc-space-around {
  justify-content: space-around;
}
.flex-parent.ai-start {
  align-items: flex-start;
}
.flex-parent.ai-center {
  align-items: center;
}
.flex-parent.ai-end {
  align-items: flex-end;
}
.flex-parent.wrap {
  flex-wrap: wrap;
}
.flex-parent.row-reverse {
  flex-direction: row-reverse;
}
.flex-parent.column-reverse {
  flex-direction: column-reverse;
}
.flex-parent .flex-1 {
  flex: 1;
}
.flex-parent .flex-2 {
  flex: 2;
}
.flex-parent .flex-3 {
  flex: 3;
}
.flex-parent .flex-4 {
  flex: 4;
}
.flex-parent .flex-5 {
  flex: 5;
}
.flex-parent .flex-6 {
  flex: 6;
}
.flex-parent .flex-7 {
  flex: 7;
}
.flex-parent .flex-8 {
  flex: 8;
}
.flex-parent .flex-9 {
  flex: 9;
}
.flex-parent .flex-10 {
  flex: 10;
}
.flex-parent .flex-11 {
  flex: 11;
}
.flex-parent .flex-12 {
  flex: 12;
}

.bg-maroon-gradient {
  background-image: linear-gradient(to right, #792421, #66211c, #531d17, #411912, #30140d);
}

.bg-dark-gradient-bt {
  background-image: linear-gradient(to bottom, hsl(30, 50%, 90%), hsl(50, 43%, 83%), hsl(43, 54%, 77%));
}

.bg-dark-gradient-tb {
  background-image: linear-gradient(to bottom, hsl(43, 54%, 77%), hsl(50, 43%, 83%), hsl(30, 50%, 90%));
}

.bg-light-gradient-bt {
  background-image: linear-gradient(to bottom, hsl(30, 50%, 99%), hsl(50, 43%, 90%), hsl(43, 54%, 85%));
}

.bg-light-gradient-tb {
  background-image: linear-gradient(to bottom, hsl(43, 54%, 85%), hsl(50, 43%, 90%), hsl(30, 50%, 99%));
}

.text-bg-gradient-dark-bt {
  background-image: linear-gradient(to bottom, hsla(30, 50%, 90%, 0.9), hsla(50, 43%, 83%, 0.9), hsla(43, 54%, 77%, 0.9)), url("../img/text-bg.png");
  background-size: cover;
}

.text-bg-gradient-light-tb {
  background-image: linear-gradient(to bottom, hsla(43, 54%, 77%, 0.9), hsla(50, 43%, 83%, 0.9), hsla(30, 50%, 90%, 0.9)), url("../img/text-bg.png");
  background-size: cover;
}

.accent-bar {
  height: 10px;
  width: 100%;
}

.invisible {
  opacity: 0;
}

.disabled {
  opacity: 0.5;
}

.figure-dialog-img-container img {
  display: block;
  width: 100%;
  height: auto;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #792421;
  text-decoration: none;
}

@-webkit-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px;
  }
  100% {
    height: 6px;
    bottom: -9px;
  }
}
@-moz-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px;
  }
  100% {
    height: 6px;
    bottom: -9px;
  }
}
@-ms-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px;
  }
  100% {
    height: 6px;
    bottom: -9px;
  }
}
@-o-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px;
  }
  100% {
    height: 6px;
    bottom: -9px;
  }
}
@keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px;
  }
  100% {
    height: 6px;
    bottom: -9px;
  }
}
#globalNavigation {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 0.9rem;
  position: relative;
  top: -4rem;
  right: 2rem;
  float: right;
}
@media (min-width: 960px) {
  #globalNavigation {
    display: block;
  }
}

#globalNavigation .expandedViewOnly span, #globalNavigation .expandedViewOnly a {
  color: white;
  margin-left: 1rem;
  cursor: pointer;
}

#globalNavigation span .francais {
  font-weight: 100;
}

#globalNavigation input {
  height: 1.5rem;
  padding: 0 0 0 0.5rem;
  font-style: italic;
  border: 1px solid rgba(0, 0, 0, 0.3882352941);
  color: #756c6c;
  background-color: #D8D8D8;
}

#loadingStateModal {
  position: fixed;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100vw;
  height: 100vh;
}

.spinner {
  width: 100%;
  height: 100%;
  margin: calc(50vh - (1rem/2)) auto 0 auto;
  text-align: center;
}

.spinner > div {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
figure {
  padding: 0.3rem 0 0;
  border-radius: 0.2rem;
  margin: 0;
  text-align: center;
}

figure.current {
  background-color: rgba(7, 122, 255, 0.831);
}

.thumbnail-caption.current {
  color: rgba(7, 122, 255, 0.831) !important;
  font-weight: 900;
}

.watermark {
  width: 100%;
  height: 100%;
  margin: calc(50vh - (10rem/2)) auto 0 auto;
}

.transcriptContent .watermark {
  margin: calc(50vh - 12.5rem) auto 0 auto;
}

.watermark_contents {
  width: 10rem;
  height: 10rem;
  background-image: url("../img/lizard-no-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto auto auto auto;
}

.navigationComponent {
  position: fixed;
  z-index: 2;
  height: 48px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px;
  top: 75px;
  background-color: white;
  border-radius: 0.3rem;
}
.navigationComponent #tool-bar-buttons {
  font-size: 15px;
}
@media (min-width: 600px) {
  .navigationComponent {
    top: 80px;
  }
}
@media (min-width: 960px) {
  .navigationComponent {
    top: initial;
  }
}
.navigationComponent button {
  cursor: pointer;
}

.navigationRow {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px 12px 10px;
}

.helpIcon {
  display: none;
  margin-top: 6px;
  margin-right: 16px;
}
@media (min-width: 960px) {
  .helpIcon {
    display: block;
  }
}

.dropdownV2 {
  width: 150px;
  margin-right: 10px;
}

.imageViewComponent .navigationComponent {
  background-color: #4A4A4A;
  border-radius: 0.3rem;
  opacity: 0.8;
}
@media (min-width: 960px) {
  .imageViewComponent .navigationComponent {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 0;
    opacity: 1;
  }
}

.transcriptionViewComponent .navigationComponent {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

#doc-type-help:after {
  color: rgb(151, 142, 142);
}

#doc-type-help .dark .MuiSvgIcon-root.MuiSelect-icon {
  color: white;
}

.breadcrumbs {
  overflow: hidden;
  display: none;
}
@media (min-width: 960px) {
  .breadcrumbs {
    display: block;
  }
}

.breadcrumbs .folioName {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  text-decoration: underline;
}

.closeX {
  float: right;
  padding: 3px;
  font-style: bold;
}
.closeX:hover {
  cursor: pointer;
}

.helpContainer .MuiListItem-root {
  display: flex;
  gap: 10px;
}

.helpContainer {
  padding: 12px;
  width: 335px;
  height: min(600px, 100vh - 40px);
  position: relative;
  top: 40px;
  overflow-x: auto;
}
.helpContainer .readingGuide td {
  padding: 8px;
}
.helpContainer .readingGuide h2 {
  margin-top: 16px;
  margin-bottom: 10px;
}

.searchHelpContainer {
  padding: 10px 15px 10px 0;
  width: 335px;
}

.helpHeader {
  text-align: center;
}

.paginationComponent {
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 52px;
}
@media (min-width: 960px) {
  .paginationComponent {
    margin-bottom: 0;
  }
}

.paginationControl {
  padding: 16px;
}

.paginationControl .arrow {
  font-size: 1.8rem;
  color: #4A4A4A;
  margin: 1rem 1rem 0;
  cursor: pointer;
}

.paginationControl .folioName {
  position: relative;
  top: -0.2rem;
  color: #4A4A4A;
}

#diplomatic #content-view h1,
#diplomatic #content-view h2,
#diplomatic #content-view h3,
#diplomatic #content-view h4, #diplomatic .header-wrapper h1,
#diplomatic .header-wrapper h2,
#diplomatic .header-wrapper h3,
#diplomatic .header-wrapper h4, #diplomatic #entry-list-view h1,
#diplomatic #entry-list-view h2,
#diplomatic #entry-list-view h3,
#diplomatic #entry-list-view h4, #diplomatic #annotation-list-view h1,
#diplomatic #annotation-list-view h2,
#diplomatic #annotation-list-view h3,
#diplomatic #annotation-list-view h4 {
  font-family: "Lato", sans-serif;
  color: black;
  padding: 0;
  margin: 0;
}
#diplomatic #content-view h1, #diplomatic .header-wrapper h1, #diplomatic #entry-list-view h1, #diplomatic #annotation-list-view h1 {
  font-family: "Taviraj", serif;
  font-size: 32px;
}
#diplomatic #content-view h2, #diplomatic #content-view h3, #diplomatic .header-wrapper h2, #diplomatic .header-wrapper h3, #diplomatic #entry-list-view h2, #diplomatic #entry-list-view h3, #diplomatic #annotation-list-view h2, #diplomatic #annotation-list-view h3 {
  font-weight: 700;
}
#diplomatic #content-view h2, #diplomatic .header-wrapper h2, #diplomatic #entry-list-view h2, #diplomatic #annotation-list-view h2 {
  font-size: 22px;
}
#diplomatic #content-view h3, #diplomatic .header-wrapper h3, #diplomatic #entry-list-view h3, #diplomatic #annotation-list-view h3 {
  font-size: 18px;
}
#diplomatic #content-view h4, #diplomatic .header-wrapper h4, #diplomatic #entry-list-view h4, #diplomatic #annotation-list-view h4 {
  font-size: 18px;
  font-weight: 700;
}
#diplomatic #content-view p, #diplomatic .header-wrapper p, #diplomatic #entry-list-view p, #diplomatic #annotation-list-view p {
  font-family: "Martel", serif;
  line-height: 1.25;
}
#diplomatic #content-view span, #diplomatic .header-wrapper span, #diplomatic #entry-list-view span, #diplomatic #annotation-list-view span {
  font-family: "Martel", serif;
  line-height: 1.25;
  margin: 0;
}
#diplomatic #content-view a.MuiButton-containedPrimary.cta-button, #diplomatic .header-wrapper a.MuiButton-containedPrimary.cta-button, #diplomatic #entry-list-view a.MuiButton-containedPrimary.cta-button, #diplomatic #annotation-list-view a.MuiButton-containedPrimary.cta-button {
  color: white;
  padding: 10px 70px;
  border-radius: 0;
}
#diplomatic #content-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic .header-wrapper a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic #entry-list-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic #annotation-list-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
#diplomatic #content-view a, #diplomatic .header-wrapper a, #diplomatic #entry-list-view a, #diplomatic #annotation-list-view a {
  color: #792421;
}
#diplomatic #content-view a:hover, #diplomatic .header-wrapper a:hover, #diplomatic #entry-list-view a:hover, #diplomatic #annotation-list-view a:hover {
  color: #CBA374;
}
#diplomatic #content-view .cta-link.MuiLink-underlineHover:hover, #diplomatic .header-wrapper .cta-link.MuiLink-underlineHover:hover, #diplomatic #entry-list-view .cta-link.MuiLink-underlineHover:hover, #diplomatic #annotation-list-view .cta-link.MuiLink-underlineHover:hover {
  text-decoration: none;
}
#diplomatic #content-view a.cta-link, #diplomatic .header-wrapper a.cta-link, #diplomatic #entry-list-view a.cta-link, #diplomatic #annotation-list-view a.cta-link {
  color: black;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}
@media (min-width: 960px) {
  #diplomatic #content-view a.cta-link, #diplomatic .header-wrapper a.cta-link, #diplomatic #entry-list-view a.cta-link, #diplomatic #annotation-list-view a.cta-link {
    font-size: 18px;
  }
}
#diplomatic #content-view a.cta-link.with-icon:after, #diplomatic .header-wrapper a.cta-link.with-icon:after, #diplomatic #entry-list-view a.cta-link.with-icon:after, #diplomatic #annotation-list-view a.cta-link.with-icon:after {
  font-family: "Font Awesome 5 Free";
  margin-left: 7px;
  font-weight: 600;
  content: "\f054";
  font-size: 15px;
}
#diplomatic #content-view a.cta-link:before, #diplomatic .header-wrapper a.cta-link:before, #diplomatic #entry-list-view a.cta-link:before, #diplomatic #annotation-list-view a.cta-link:before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: black;
  width: 50%;
  right: 30%;
  bottom: -5px;
  border-radius: 2px;
}
#diplomatic #content-view a.cta-link:hover:before, #diplomatic .header-wrapper a.cta-link:hover:before, #diplomatic #entry-list-view a.cta-link:hover:before, #diplomatic #annotation-list-view a.cta-link:hover:before {
  background-color: #792421;
  text-decoration: none;
  height: 6px;
  bottom: -9px;
  -webkit-animation: slide-down .2s;
  -moz-animation: slide-down .2s;
  -ms-animation: slide-down .2s;
  -o-animation: slide-down .2s;
  animation: slide-down .2s;
}
#diplomatic #content-view a.cta-link:hover:after, #diplomatic .header-wrapper a.cta-link:hover:after, #diplomatic #entry-list-view a.cta-link:hover:after, #diplomatic #annotation-list-view a.cta-link:hover:after {
  color: #792421;
}
#diplomatic #content-view a.cta-link.active:before, #diplomatic .header-wrapper a.cta-link.active:before, #diplomatic #entry-list-view a.cta-link.active:before, #diplomatic #annotation-list-view a.cta-link.active:before {
  background-color: #792421;
  text-decoration: none;
  height: 6px;
  bottom: -9px;
  -webkit-animation: slide-down .2s;
  -moz-animation: slide-down .2s;
  -ms-animation: slide-down .2s;
  -o-animation: slide-down .2s;
  animation: slide-down .2s;
}
#diplomatic #content-view a.cta-link.active:after, #diplomatic .header-wrapper a.cta-link.active:after, #diplomatic #entry-list-view a.cta-link.active:after, #diplomatic #annotation-list-view a.cta-link.active:after {
  color: #792421;
}
#diplomatic #content-view a.cta-link.light, #diplomatic .header-wrapper a.cta-link.light, #diplomatic #entry-list-view a.cta-link.light, #diplomatic #annotation-list-view a.cta-link.light {
  color: #444444;
}
#diplomatic #content-view a.cta-link.light:before, #diplomatic .header-wrapper a.cta-link.light:before, #diplomatic #entry-list-view a.cta-link.light:before, #diplomatic #annotation-list-view a.cta-link.light:before {
  background-color: #444444;
}
#diplomatic #content-view a.cta-link.light:hover:before, #diplomatic .header-wrapper a.cta-link.light:hover:before, #diplomatic #entry-list-view a.cta-link.light:hover:before, #diplomatic #annotation-list-view a.cta-link.light:hover:before {
  background-color: #792421;
}
#diplomatic #content-view a.cta-link.video-link:after, #diplomatic .header-wrapper a.cta-link.video-link:after, #diplomatic #entry-list-view a.cta-link.video-link:after, #diplomatic #annotation-list-view a.cta-link.video-link:after {
  content: "\f04b";
  font-size: 12px;
  margin-bottom: -2px;
}
#diplomatic #content-view a.cta-link.search-link:after, #diplomatic .header-wrapper a.cta-link.search-link:after, #diplomatic #entry-list-view a.cta-link.search-link:after, #diplomatic #annotation-list-view a.cta-link.search-link:after {
  font-family: "Material Icons";
  content: "search";
  font-size: 16px;
}
#diplomatic #header {
  width: 100%;
  padding: 0px 20px;
  background-color: white;
  border-radius: 0;
}
@media (min-width: 1280px) {
  #diplomatic #header {
    padding: 5px 50px;
  }
}
#diplomatic #header img {
  width: 210px;
}
@media (min-width: 600px) {
  #diplomatic #header img {
    width: 300px;
  }
}
@media (min-width: 960px) {
  #diplomatic #header img {
    width: 300px;
  }
}
#diplomatic #header .expandedViewOnly {
  width: 100%;
}
#diplomatic #header .nav-item {
  font-size: 16px;
  margin-right: 5px;
  white-space: nowrap;
  margin-bottom: 15px;
}
#diplomatic #header .search-btn {
  margin-bottom: 10px;
  font-size: 18px;
}
#diplomatic .maroon-dropdown {
  background-color: #460C0A;
  border-radius: 0;
  -webkit-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8);
}
#diplomatic .mobile-menu {
  padding: 50px 0;
}
#diplomatic .mobile-menu .list-container {
  position: relative;
}
#diplomatic .mobile-menu .list-container .list {
  color: "white";
}
#diplomatic .search-bar {
  height: 162px;
}
#diplomatic .search-bar .label {
  font-size: 32px;
  color: white;
  font-weight: 400;
  white-space: nowrap;
}
#diplomatic .search-bar .content {
  width: 50%;
}
#diplomatic .search-bar #search input {
  border: 1px solid #DEDEDF;
  border-radius: 4px;
  width: 300px;
  height: 38px;
  font-size: 14px;
  padding: 5px 15px;
  font-family: "Lato", sans-serif;
}

#diplomatic.sticky .header-wrapper.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

#diplomatic #footer {
  color: white;
  background-color: #460C0A;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
@media (min-width: 600px) {
  #diplomatic #footer {
    padding: 20px 30px;
  }
}
@media (min-width: 960px) {
  #diplomatic #footer {
    padding: 30px 40px;
  }
}
#diplomatic #footer p, #diplomatic #footer a {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #FAFAFA;
  line-height: 1.5;
  margin: 0;
}
#diplomatic #footer a:hover {
  color: #CBA374;
  fill: #CBA374;
}
#diplomatic #footer .top {
  margin-bottom: 10px;
}
#diplomatic #footer .top p {
  margin: 0 5px;
  white-space: nowrap;
}
#diplomatic #footer .doi {
  text-align: center;
}
#diplomatic #footer .copyright .symbols {
  text-decoration: none;
}
#diplomatic #footer .copyright svg {
  width: 14px;
  height: 14px;
}
#diplomatic #footer .logos {
  margin-bottom: 10px;
}
#diplomatic #footer .logos img {
  width: 150px;
}
@media (min-width: 600px) {
  #diplomatic #footer .logos img {
    width: 200px;
  }
}
@media (min-width: 600px) {
  #diplomatic #footer .logos img {
    width: 250px;
  }
}
#diplomatic #footer .footer-links {
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 2;
}

#diplomatic.fixed {
  background: white;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 12rem);
  font-size: 0.7rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "OpenSans", sans-serif;
  font-size: 0.9rem;
}
@media (min-width: 600px) {
  #diplomatic.fixed {
    height: calc(100vh - 13rem);
  }
}
@media (min-width: 960px) {
  #diplomatic.fixed {
    height: calc(100vh - 14rem);
  }
}
#diplomatic.fixed #content {
  line-height: 1.2rem;
}
#diplomatic.fixed h1,
#diplomatic.fixed h2,
#diplomatic.fixed h3,
#diplomatic.fixed h4 {
  color: rgba(0, 0, 0, 0.7215686275);
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  padding: 0;
  line-height: 1.5rem;
}

.imageGridComponent {
  background-color: #000000;
  font-size: 0.8rem;
  overflow: scroll;
  height: 100vh;
}

.imageGridComponent > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 1.5rem 0 8rem 2rem;
}

.imageGridComponent > ul > li {
  margin-bottom: 20px;
  width: 150px;
  height: 220px;
}

.imageGridComponent > ul > li > figure {
  margin: 8px;
}

.imageGridComponent > ul > li > figure:hover {
  border: 2px #eee solid;
  margin: 6px;
}

.imageGridComponent > ul > li > .thumbnail-caption {
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}

.imageGridComponent .imageGridToolbar {
  padding: 5px;
  color: white;
}
.imageGridComponent .imageGridToolbar .jump-to {
  float: right;
  display: "inline";
  margin-right: 30px;
}
.imageGridComponent .imageGridToolbar .jump-to #jump-to-input {
  margin-left: 5px;
}
.imageGridComponent .imageGridToolbar .jump-to #jump-to-button {
  margin-left: 5px;
  cursor: pointer;
}

.split-pane-view {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "image_viewer divider transcription";
}

.split-pane-view > .divider {
  z-index: 2;
  grid-area: divider;
  width: 1rem;
  background: #BBB;
  cursor: ew-resize;
  display: flex;
}

.split-pane-view > .divider > .drawer-button {
  align-self: center;
  align: center;
  cursor: auto;
}

.split-pane-view > .divider > .drawer-button:hover {
  color: white;
}

.split-pane-view > .divider > .hidden {
  display: none;
}

.split-pane-view #annotation-view {
  font-size: 16px;
}

#image-view-seadragon-left,
#image-view-seadragon-right {
  width: 100%;
  height: 100%;
  grid-area: image_viewer;
  background: black;
}

.imageViewComponent {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.ImageZoomControl {
  position: absolute;
  z-index: 1;
  top: 8rem;
  color: white;
  list-style: none;
  background: #4A4A4A;
  opacity: 0.4;
  margin: 0;
  padding: 0.4rem 0.5rem;
  border-radius: 0.3rem;
}
@media (min-width: 960px) {
  .ImageZoomControl {
    top: 4rem;
    left: 2rem;
  }
}

.ImageZoomControl > li {
  color: #E0E0E0;
}

.ImageZoomControl > li > .zoom-in {
  margin-top: 8px;
}

.ImageZoomControl > li:hover {
  color: white;
}

.ImageZoomControl > li > .zoom-3 {
  margin-top: 8px;
}

.ImageZoomControl > li > .zoom-2 {
  margin-top: 8px;
  margin-left: 5px;
}

.ImageZoomControl > li > .zoom-1 {
  margin-top: 8px;
  margin-left: 7px;
}

.ImageZoomControl > li > .zoom-out {
  margin-top: 8px;
}

.ImageZoomControl > li > .zoom-grid {
  margin-top: 30px;
}

.transcriptionViewComponent {
  overflow: scroll;
  height: calc(100vh - 7rem);
}
.transcriptionViewComponent .transcriptContent {
  padding: 50px 16px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  margin-bottom: 92px;
}
@media (min-width: 960px) {
  .transcriptionViewComponent .transcriptContent {
    padding: 5px 16px;
  }
}
.transcriptionViewComponent .transcriptContent figure {
  display: inline;
}
.transcriptionViewComponent .transcriptContent .block[data-layout=right-middle] {
  max-width: 250px;
}
.transcriptionViewComponent .transcriptContent .block[data-layout=right-top] {
  max-width: 250px;
}
.transcriptionViewComponent .transcriptContent .block[data-layout=right-bottom] {
  max-width: 250px;
}
.transcriptionViewComponent .transcriptContent .x-small-inline-figure {
  margin: 5px;
  border: 1px solid gray;
  width: 30px;
}
.transcriptionViewComponent .transcriptContent .small-inline-figure {
  margin: 5px;
  border: 1px solid gray;
  width: 60px;
}
.transcriptionViewComponent .transcriptContent .medium-inline-figure {
  margin: 5px;
  border: 1px solid gray;
  width: 200px;
}
.transcriptionViewComponent .transcriptContent .large-inline-figure {
  margin: 5px;
  border: 1px solid gray;
  width: 350px;
}
.transcriptionViewComponent .transcriptContent .surface {
  grid-area: transcription;
  margin: 0;
  padding: 0;
  list-style: none;
}
.transcriptionViewComponent .transcriptContent .grid-mode {
  display: grid;
  grid-auto-rows: minmax(min-content, 0fr);
  grid-gap: 2px;
}
.transcriptionViewComponent .transcriptContent .surface > .small-font {
  font-size: 11pt;
}
.transcriptionViewComponent .transcriptContent .surface > div {
  padding: 10px;
}
.transcriptionViewComponent .transcriptContent .surface > #z0 {
  grid-area: z0;
}
.transcriptionViewComponent .transcriptContent .surface > #z1 {
  grid-area: z1;
}
.transcriptionViewComponent .transcriptContent .surface > #z2 {
  grid-area: z2;
}
.transcriptionViewComponent .transcriptContent .surface > #z3 {
  grid-area: z3;
}
.transcriptionViewComponent .transcriptContent .surface > #z4 {
  grid-area: z4;
}
.transcriptionViewComponent .transcriptContent .surface > #z5 {
  grid-area: z5;
}
.transcriptionViewComponent .transcriptContent .surface > #z6 {
  grid-area: z6;
}
.transcriptionViewComponent .transcriptContent .surface > #z7 {
  grid-area: z7;
}
.transcriptionViewComponent .transcriptContent .surface > #z8 {
  grid-area: z8;
}
.transcriptionViewComponent .transcriptContent .surface > #z9 {
  grid-area: z9;
}
.transcriptionViewComponent .transcriptContent .surface > #z10 {
  grid-area: z10;
}
.transcriptionViewComponent .transcriptContent .surface > #z11 {
  grid-area: z11;
}
.transcriptionViewComponent .transcriptContent .surface > #z12 {
  grid-area: z12;
}
.transcriptionViewComponent .transcriptContent .surface > #z13 {
  grid-area: z13;
}
.transcriptionViewComponent .transcriptContent .surface > #z14 {
  grid-area: z14;
}
.transcriptionViewComponent .transcriptContent .surface > #z15 {
  grid-area: z15;
}
.transcriptionViewComponent .transcriptContent .surface > #z16 {
  grid-area: z16;
}
.transcriptionViewComponent .transcriptContent .surface > #z17 {
  grid-area: z17;
}
.transcriptionViewComponent .transcriptContent .surface > #z18 {
  grid-area: z18;
}
.transcriptionViewComponent .transcriptContent .surface > #z19 {
  grid-area: z19;
}
.transcriptionViewComponent .transcriptContent .surface > #z20 {
  grid-area: z20;
}
.transcriptionViewComponent .transcriptContent .highlight {
  background-color: yellow;
}

.editor-comment-content {
  word-wrap: break-word;
}

.xmlViewComponent .navigationComponent {
  background-color: white;
  color: #000000;
}

.xmlContent {
  padding: 0;
  margin: 4.5rem 0 0;
  width: calc(100% - 1.2rem);
  min-height: 100vh;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-width: 10rem;
}

.xmlViewComponent {
  overflow: scroll;
  margin: 0 0 0 1rem;
  height: calc(100vh - 7rem);
}

.xmlContentInner {
  overflow-x: scroll;
}

#glossaryView #glossaryViewInner {
  overflow-y: scroll;
  margin: 5px 0 0 0;
  width: calc(100% - 1.2rem);
  height: calc(100vh - 170px);
  padding: 5px 16px;
}
@media (min-width: 960px) {
  #glossaryView #glossaryViewInner {
    margin: 52px 0 0 0;
  }
}
#glossaryView .cite-header {
  text-align: center;
  margin-bottom: 5px;
}
#glossaryView .cite-instructions {
  margin: 20px;
  margin-left: 15%;
  margin-right: 15%;
}
#glossaryView .navigationComponent {
  position: sticky;
  top: 0;
}
@media (min-width: 960px) {
  #glossaryView .navigationComponent {
    position: fixed;
    top: initial;
  }
}
#glossaryView .glossaryNav {
  background: white;
  padding: 5px;
  position: relative;
}
#glossaryView .glossaryNav #glossary-filter {
  margin-right: 10px;
}
#glossaryView .glossaryNav .alphaNav {
  display: none;
}
@media (min-width: 960px) {
  #glossaryView .glossaryNav .alphaNav {
    display: block;
  }
}
#glossaryView .alphaNav {
  color: blue;
  display: inline;
}
#glossaryView .title {
  white-space: nowrap;
  position: relative;
  width: calc(100% - 1.7rem);
  text-align: center;
  top: -2em;
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 960px) {
  #glossaryView .title {
    top: -1em;
  }
}
#glossaryView .subtitle {
  white-space: nowrap;
  position: relative;
  width: calc(100% - 1.7rem);
  text-align: center;
  top: -2em;
  font-style: italic;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 960px) {
  #glossaryView .subtitle {
    top: -1em;
  }
}
#glossaryView #glossaryContent {
  padding: 5rem 0 0;
  min-height: 100vh;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-width: 10rem;
}
@media (min-width: 960px) {
  #glossaryView #glossaryContent {
    padding: 3.5rem 0 0;
  }
}

.jumpToFolio_component {
  margin: 1rem 0 0 -4.5rem;
  padding: 0.6rem;
  height: 1.2rem;
  width: 9.5rem;
  background: #e7e7e7;
  border: 1px solid rgba(90, 98, 102, 0.53);
  border-radius: 0.3rem;
  -webkit-box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  -moz-box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  font-family: sans-serif;
}

.jumpToFolio_component input:focus {
  outline: none;
}

.jumpToFolio_component:after,
.jumpToFolio_component:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.jumpToFolio_component:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #e7e7e7;
  border-width: 9px;
  margin-left: -9px;
}

.jumpToFolio_component:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(90, 98, 102, 0.53);
  border-width: 11px;
  margin-left: -11px;
}

.MuiListItem-root {
  display: flex;
  gap: 10px;
}

/* This is a sample stylesheet for use with CETEIcean. It is not intended    */
/* to be comprehensive. The rules here are largely derived from earlier work */
/* on TEI Boilerplate                                                        */
/* language support */
/* render Arabic, Persian, Ottoman, Hebrew  as rtl */
[lang=ar],
[lang=ota],
[lang=fa],
[lang=he],
[lang*=-Arab-AR] {
  direction: rtl;
  text-align: right;
}

/* display latin scripts as ltr  */
[lang=en],
[lang=fr],
[lang=de],
[lang=it],
[lang*=ar-Latn-],
[lang*=ota-Latn-] {
  direction: ltr;
  text-align: left;
}

/* Choice elements */
tei-choice tei-abbr + tei-expan:before,
tei-choice tei-expan + tei-abbr:before,
tei-choice tei-sic + tei-corr:before,
tei-choice tei-corr + tei-sic:before,
tei-choice tei-orig + tei-reg:before,
tei-choice tei-reg + tei-orig:before {
  content: " (";
}

tei-choice tei-abbr + tei-expan:after,
tei-choice tei-expan + tei-abbr:after,
tei-choice tei-sic + tei-corr:after,
tei-choice tei-corr + tei-sic:after,
tei-choice tei-orig + tei-reg:after,
tei-choice tei-reg + tei-orig:after {
  content: ")";
}

/* A */
tei-ab {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-accMat {
  display: block;
}

tei-accMat:before {
  content: "accompanying materials: ";
}

tei-acquisition {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-acquisition:before {
  font-weight: bold;
  content: "acquisition";
}

tei-activity {
  display: block;
}

tei-activity:before {
  content: "activity: ";
}

tei-add[place=above] {
  color: blue;
  vertical-align: super;
  font-size: 10pt;
}

tei-add[place=inline]:before {
  content: "«";
}

tei-add[place=inline]:after {
  content: "»";
}

tei-add[place=below] {
  vertical-align: sub;
}

tei-additional {
  display: block;
}

tei-additions {
  display: block;
}

tei-additions:before {
  content: "Significant additions within the document: ";
}

tei-addrLine {
  display: block;
}

tei-address[data-tei-rend~=block], addresss[data-tei-rendition~="#block"] {
  display: block;
}

tei-adminInfo {
  display: block;
}

tei-app tei-note {
  display: none;
}

tei-appInfo {
  display: block;
}

tei-appInfo:before {
  content: "Application information: ";
}

tei-application {
  display: block;
}

tei-application:after {
  content: " " attr(version);
}

tei-argument {
  display: block;
}

tei-att {
  font-family: Courier, monospace;
}

tei-att:before {
  content: "@";
}

tei-titlestmt > tei-author {
  display: block;
  margin-bottom: 1em;
}

tei-publicationstmt > tei-availability {
  font-size: 80%;
}

tei-publicationstmt > tei-availability:before {
  font-weight: bold;
  content: "Availability: ";
}

tei-publicationstmt > tei-availability[data-tei-status]:before {
  font-weight: bold;
  content: "Availability (" attr(status) "): ";
}

/* B */
tei-back {
  display: block;
}

tei-bibl[data-tei-rend~=block], bibl[data-tei-rendition~="#block"] {
  display: block;
  padding-left: 2em;
  text-indent: -2em;
}

tei-biblFull {
  display: block;
}

tei-binding {
  display: block;
}

tei-binding:before {
  content: "Binding: \a";
  white-space: pre-wrap;
}

tei-binding[data-tei-contemporary]:before {
  content: "Binding: \a" "Contemporary: " attr(contemporary) "\a";
  white-space: pre-wrap;
}

tei-bindingdesc {
  display: block;
}

tei-bindngdesc:before {
  content: "Binding description: \a";
}

tei-birth {
  display: block;
}

tei-birth:before {
  content: "Birth: ";
}

/* c */
tei-cRefPattern {
  display: none;
}

tei-caption {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-case[data-tei-value]:before {
  font-weight: bold;
  content: attr(value) " ";
}

tei-castgroup {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-castitem {
  display: list-item;
}

tei-castlist {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

tei-cb {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-cb:before {
  content: "[column break]";
}

tei-cell {
  border-right: thin solid black;
  border-bottom: thin solid black;
  padding: 2px;
}

/* for cell or row with @role = label */
tei-cell[data-tei-role=label] {
  font-weight: bold;
}

tei-climate {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-climate:before {
  font-weight: bold;
  content: "Climate: ";
}

tei-code {
  font-family: Courier, monospace;
}

tei-collation {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-condition {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-constitution {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-constitution:before {
  font-weight: bold;
  content: "Constitution: ";
}

tei-constitution[data-tei-type] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-constitution[data-tei-type]:before {
  font-weight: bold;
  content: "Constitution (" attr(type) "): ";
}

tei-constitution[data-tei-type=frags] {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-constitution[data-tei-type=frags]:before {
  font-weight: bold;
  content: "Constitution (fragments): ";
}

tei-custevent {
  display: list-item;
}

tei-custodialhist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* d */
tei-date[data-tei-when]:empty:before {
  content: attr(when);
}

tei-del {
  color: red;
}

/* e */
tei-editionstmt {
  display: block;
}

teieg-egxml {
  display: block;
  font-size: 80%;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #aaaaaa;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-family: monospace;
  white-space: pre;
}

tei-emph {
  font-style: italic;
}

tei-encodingdesc {
  display: none;
}

tei-epigraph {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-explicit {
  font-style: italic;
}

tei-filedesc > tei-extent {
  display: none;
}

/* f */
tei-figure {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* g */
tei-gap[data-tei-reason=lost]:before {
  content: "[";
}

tei-gap[data-tei-reason=lost]:after {
  content: attr(data-content) "]";
}

tei-gap[data-tei-reason=illegible]:after {
  content: attr(data-content);
}

tei-gi {
  font-family: Courier, monospace;
}

tei-gi:before {
  content: "<";
}

tei-gi:after {
  content: ">";
}

/* h */
tei-head {
  display: block;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5rem;
}

tei-body > tei-head {
  font-size: 180%;
  text-indent: -0.5em;
}

tei-div.textpart {
  display: none;
}

tei-div > tei-head {
  font-size: 170%;
  text-indent: -0.5em;
}

tei-div > tei-div > tei-head {
  font-size: 155%;
}

tei-div > tei-div > tei-div > tei-head {
  font-size: 140%;
}

tei-div > tei-div > tei-div > tei-div > tei-head, list > tei-head {
  font-size: 130%;
}

tei-div > tei-div > tei-div > tei-div > tei-div > tei-head {
  font-size: 120%;
}

tei-div > tei-div > tei-div > tei-div > tei-div > tei-div tei-head {
  font-size: 110%;
}

tei-figure > tei-head {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: 0.5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #fafafa;
  /* reset text-indent for note with <l> ancestors. */
  text-indent: 0;
  font-size: 85%;
  text-align: justify;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 85%;
  font-family: Georgia, Serif;
  font-size: 13pt;
}

tei-hi[rend~=caps] {
  font-weight: bold;
}

tei-hi[rend~=italic] {
  font-style: italic;
}

tei-hi[rend~=underline] {
  text-decoration: underline;
}

tei-ident {
  font-family: Courier, monospace;
}

tei-incipit {
  font-style: italic;
}

tei-item {
  display: list-item;
  margin-left: 1em;
}

tei-cell item {
  margin-left: 1em;
}

/* j */
/* l */
tei-l {
  display: block;
  width: 35em;
}

tei-l[data-lineno]:before {
  content: attr(data-lineno);
  position: absolute;
  left: 2em;
}

tei-lb:after {
  content: "\a";
  white-space: pre;
}

tei-lg {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  list-style-type: none;
}

tei-item > tei-list {
  margin-top: 0;
}

tei-sourcedesc tei-list {
  list-style-type: none;
}

tei-sourcedesc > tei-list > tei-head {
  font-size: 140%;
  font-weight: bold;
}

tei-sourcedesc tei-list > tei-item {
  display: list-item;
}

/* Match only lists that are descendants of
tei-text. Otherwise they show up in the header. */
tei-text tei-list[type=simple] {
  list-style-type: none;
}

tei-text tei-list[type=bulleted] {
  list-style-type: disc;
}

tei-text tei-list[type=ordered] {
  list-style-type: none;
  counter-reset: items 0;
}

tei-text tei-list[type=ordered] > tei-item {
  display: list-item;
  margin-left: 0;
}

tei-item > tei-list[type=ordered] {
  margin-left: 1em;
}

tei-text tei-list[type=ordered] > item:before {
  counter-increment: items 1;
  content: counter(items, decimal) ". ";
}

tei-text tei-list[type=gloss] {
  list-style-type: none;
}

tei-list[type=gloss] > tei-label {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}

tei-list[type=gloss] > tei-item {
  margin-left: 2em;
}

tei-item > tei-list[type=ordered] {
  margin-left: 1em;
}

tei-listapp {
  display: block;
  margin: 1em;
  padding: 1em;
}

tei-listbibl {
  display: block;
  list-style-type: none;
  margin-left: 0.5 em;
  margin-top: 0.5em;
}

tei-listbibl > tei-head {
  font-size: 120%;
  font-weight: bold;
}

tei-listbibl > tei-bibl {
  display: list-item;
  margin-left: 0.5em;
}

tei-listwit {
  display: block;
  list-style-type: none;
  margin-left: 0.5em;
}

tei-listwit > tei-head {
  font-size: 120%;
  font-weight: bold;
}

tei-listwit > tei-witness {
  display: list-item;
  margin-left: 2em;
  text-indent: -1.1em;
}

tei-witness > tei-listwit {
  display: inline;
}

tei-witness > tei-listwit > tei-head {
  display: inline;
}

tei-witness > tei-listwit > tei-witness {
  display: inline;
}

tei-locus {
  display: none;
}

/* m */
tei-milestone {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

tei-musicNotation {
  font-weight: bold;
}

tei-musicNotation:before {
  font-weight: bold;
  content: "Musical Notation: ";
}

/* n */
tei-node {
  display: none;
}

tei-note {
  display: none;
}

tei-notesstmt {
  display: none;
}

/* o */
tei-ovar {
  font-style: italic;
}

tei-origPlace {
  font-weight: bold;
}

tei-origPlace:before {
  font-weight: bold;
  content: "Place of Origin: ";
}

/* p */
tei-p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}

*[data-tei-rendition~="#center"] p {
  text-align: center;
}

tei-availability > p:first-child {
  margin-top: 0em;
}

tei-performance {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-person {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-personGrp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-postscript {
  display: block;
  margin-top: 2em;
}

tei-principal {
  font-weight: bold;
}

tei-principal:before {
  font-weight: bold;
  content: "Principal: ";
}

tei-profiledesc {
  display: none;
}

tei-publicationstmt > * {
  display: none;
}

tei-publicationstmt {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-publicationstmt > date {
  display: none;
}

tei-publicationstmt > publisher {
  display: none;
}

/* q */
tei-q {
  quotes: "“" "”" "‘" "’" "“" "”" "‘" "’" "“" "”" "‘" "’" "“" "”";
}

tei-q:before {
  content: "";
}

tei-q:after {
  content: "";
}

tei-q[data-tei-next]:after {
  content: "" !important;
}

tei-q[data-tei-prev]:before {
  content: "" !important;
}

tei-quote {
  font-style: italic;
}

/* r */
tei-app tei-rdg {
  /*perhaps choice */
  display: none;
}

tei-re {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-recordhist {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-ref {
  color: #5f0000;
  text-decoration: underline;
  cursor: pointer;
}

tei-remarks {
  font-weight: bold;
}

tei-remarks:before {
  font-weight: bold;
  content: "remarks: ";
}

tei-respstmt {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-revisiondesc {
  display: none;
}

tei-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

/* s */
tei-salute {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-samplingdecl {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-scriptnote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-seal {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-seal:before {
  font-weight: bold;
  content: "Seal: ";
}

tei-sealdesc {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-secFol:before {
  font-weight: bold;
  content: "Second Folio: ";
}

tei-secl > *:first-child:before {
  content: "\a[";
  white-space: pre;
}

tei-secl > *:last-child:after {
  content: "]\a\a";
  white-space: pre;
}

tei-seg {
  outline: 0px solid transparent;
}

tei-sense {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-seriesstmt {
  display: none;
}

tei-setting {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-signed {
  display: block;
  margin-top: 2em;
}

tei-soCalled {
  quotes: "“" "”" "‘" "’" "“" "”" "‘" "’" "“" "”" "‘" "’" "“" "”";
}

tei-soCalled:before {
  content: open-quote;
}

tei-soCalled:after {
  content: close-quote;
}

tei-soCalled[data-tei-next]:after {
  content: "" !important;
}

tei-soCalled[data-tei-prev]:before {
  content: "" !important;
}

tei-sound {
  font-style: italic;
}

tei-source {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-sourcedesc {
  display: none;
}

tei-space:before {
  font-weight: bold;
  content: "";
}

tei-span[data-tei-data-n]:before {
  content: attr(data-n);
}

tei-speaker {
  font-weight: bold;
  margin-right: 0;
}

tei-sponsor {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

tei-sponsor:before {
  font-weight: bold;
  content: "Sponsor:";
}

tei-stage {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
}

tei-stamp {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

tei-stamp:before {
  font-weight: bold;
  content: "Stamped: ";
}

tei-surplus > *:first-child:before {
  content: "\a[";
  white-space: pre;
}

tei-surplus > *:last-child:after {
  content: "]\a\a";
  white-space: pre;
}

/* t */
tei-tei {
  display: block;
}

tei-table {
  display: block;
  border-top: thin solid black;
  border-left: thin solid black;
}

tei-table {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}

tei-table > tei-head {
  border-bottom: thin solid black;
  border-right: thin solid black;
  font-size: 120%;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}

tei-teiheader {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

tei-tei > tei-text {
  display: block;
  line-height: 1.5;
}

tei-textclass {
  display: none;
}

tei-textdesc {
  display: none;
}

/* title */
tei-tei tei-title {
  display: inline;
}

tei-tei tei-title[level=a] {
  quotes: "“" "”" "‘" "’" "“" "”" "‘" "’" "“" "”" "‘" "’" "“" "”";
}

tei-tei tei-title[level=a]:before {
  content: open-quote;
}

tei-tei tei-title[level=a]:after {
  content: close-quote;
}

tei-tei tei-title[level=a][next]:after {
  content: "" !important;
}

tei-tei tei-title[level=a][prev]:before {
  content: "" !important;
}

tei-title[level=m] {
  font-style: italic;
}

tei-titlestmt > tei-title {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-weight: bold !important;
  font-size: 150%;
}

tei-typedesc {
  display: none;
}

/* u */
tei-u:before {
  content: "-";
}

tei-view {
  font-style: italic;
}

tei-wit {
  display: inline;
}

tei-witdetail {
  display: none;
}

/*# sourceMappingURL=editioncrafter.css.map */
